[run]
branch = True
source = ttp_sros_parser

[report]
show_missing = true

exclude_lines =
    print.*
    return.*
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True